@use '../../scss/variables' as *;
@use '../../scss//functions' as *;
@use 'sass:map';



.card {
    display: block;
    padding: $padding * 2;
    border: $border-thickness solid $light;
    -webkit-box-shadow: 2px 0px 8px 2px shade-color($light, 35%); 
    box-shadow: 2px 0px 8px 2px shade-color($light, 35%);
    border-radius: $radius;
    margin: $space;
    max-width: 750px;
}

.cardTitle {
    font-size: 1.5em;
    color: map.get($theme-colors, "secondary");
    padding-bottom: $padding;
    font-weight: bold;
}

.cardBody {
    font-size: 1em;

    a {
        text-decoration: none;
        color: map.get($theme-colors, "info");
    }
}
